@model Vortex.Models.ListaChampion;
@{
    ViewData["Title"] = "Partida Detalhada";
    ListaChampion listaChampion = ViewBag.Champions;
    Dictionary<string, Champion> champions = listaChampion.Data;
}

@{ 
    <div>
    <label>Total de Partidas: </label>
    <label>@ViewBag.Teste</label>
    </div>

    var json = "{";
    foreach (KeyValuePair<string, Champion> item in champions)
    {
        Champion champion = item.Value;


        <div>
            <div>
                <label>Id da Champion: </label>
                <label>@champion.Key</label>
            </div>
            <div>
                <label>Campeão: </label>
                <label>@champion.Name</label>
            </div>
            <div>
                <label>Titulo: </label>
                <label>@champion.Title</label>
            </div>
    
        </div>
        <hr />
        }
    }
<div>
    <label >Total de Partidas: </label>
    <label >@listaChampion.Type</label>
</div>

