@model Vortex.Models.Invocador;
<link rel="stylesheet" href="~/css/index.css" />

@{
    ViewData["Title"] = "Home Page";
}
@{
    if (ViewBag.Invocador == null)
    {
        <div class="row justify-content-md-center align-items-center" style="margin-top:30vh">
            <div class="col-md-auto align-self-center text-center">
                <form asp-action="Index" asp-controller="Home" method="post">

                    <h2 id="lInvocador" asp-for="name" class="form-label">Invocador</h2>
                    <input asp-for="name" class="form-control form-control-lg" style="width:40vw" required>
                    <div class="invalid-tooltip">
                        Por favor digite o nome de um invocador.
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button id="Buscar" class="btn-lg btn-blue-lol mt-3 b  tn-lg" type="submit">BUSCAR</button>
                    </div>
                </form>
            </div>
        </div>
    }
    else
    {
        Invocador invocador = ViewBag.Invocador;

        var icone = "http://ddragon.leagueoflegends.com/cdn/11.14.1/img/profileicon/"+invocador.profileIconId+".png";
        var borda = "";
        if (@ViewBag.Borda != 0)
        {
            borda = "../img/Bordas/" + @ViewBag.Borda + ".png";

        }
        else
        {
            borda = "../img/Bordas/" + 30 + ".png";

        }
        <div class="row justify-content-md-center align-items-center">
            <div class="col-md-auto align-self-center text-center">
                <div id="poster">
                    <img id="icone" src="@icone" class="rounded-circle" />
                    <img id="borda" src="@borda" />
                    <p id="level" class="text-white font-weight-bold">@invocador.summonerLevel</p>
                </div>

                <p class="text-white font-weight-bold">@invocador.name</p>

                <div>
                    <input class="btn btn-dark btn-lg" type="button" value="Partidas" onclick="location.href='@Url.Action("Partidas", "Home")'" />
                </div>
            </div>
           
        </div>
    }

}



