@model Vortex.Models.PartidaCompleta;
<link rel="stylesheet" href="~/css/partidas.css" />
@{
    ViewData["Title"] = "Partidas";
    List<PartidaCompleta> partidas = ViewBag.Partidas;
}

@{
    foreach (var partida in partidas)
    {
        string result = partida.Informacoes.Resultado ? "success-lol" : "lose-lol";
        string imagem = "http://ddragon.leagueoflegends.com/cdn/11.15.1/img/champion/" + partida.Champion.Img ;
        string kda = partida.Informacoes.InvocadorPrincipal.Stats.Kills + "/" + @partida.Informacoes.InvocadorPrincipal.Stats.Deaths + "/" + @partida.Informacoes.InvocadorPrincipal.Stats.Assists;
        <div class="partida-lol @result">
            <div>
                <img class="rounded-circle" src="@imagem" />
            </div>
            <div>
                <label>Campeão: </label>
                <label>@partida.Champion.Name</label>
            </div>
            <div>
                <label>K/D/A: </label>
                <label>@kda</label>
            </div>
            
        </div>
        <hr />
    }
}