@model Vortex.Models.PartidaCompleta;
<link rel="stylesheet" href="~/css/partidas.css" />
@{
    ViewData["Title"] = "Partidas";
    List<PartidaCompleta> partidas = ViewBag.Partidas;
}

@{
    foreach (var partida in partidas)
    {
        string result = partida.Informacoes.Resultado ? "success-lol" : "lose-lol";
        string imagem = "http://ddragon.leagueoflegends.com/cdn/11.15.1/img/champion/" + partida.Champion.Img;
        var InfoJogadorPrinc = partida.Informacoes.InvocadorPrincipal.Stats;
        string kda = InfoJogadorPrinc.Kills + "/" + InfoJogadorPrinc.Deaths + "/" + InfoJogadorPrinc.Assists;
        List<long> itensJogadorPrinc = new List<long>() { InfoJogadorPrinc.Item0, InfoJogadorPrinc.Item1, InfoJogadorPrinc.Item2, InfoJogadorPrinc.Item3, InfoJogadorPrinc.Item4, InfoJogadorPrinc.Item5, InfoJogadorPrinc.Item6};
        <div class="partida-lol row @result">
            <div class="col">
                <div>
                    <img class="rounded-circle" src="@imagem" />
                </div>
                <div>
                    <label>Campeão: </label>
                    <label>@partida.Champion.Name</label>
                </div>
                <div>
                    <label>K/D/A: </label>
                    <label>@kda</label>
                </div>
            </div>
            <div class="col">
                <div class="row row-cols-2 row-cols-6">
                    @{foreach (long item in itensJogadorPrinc)
                        {
                            var imgItem = "https://ddragon.leagueoflegends.com/cdn/11.15.1/img/item/" + item.ToString() + ".png";
                            <div class="col group-img-item"><img src="@imgItem" width="30" height="30" /></div>
                        }
                    }
                </div>
                <div class="row row-cols-3">
                        <div class="col"><h5>Kills</h5></div>
                        <div class="col"><h5>Deaths</h5></div>
                        <div class="col"><h5>Assits</h5></div>
                        <div class="col"><h2>@InfoJogadorPrinc.Kills</h2></div>
                        <div class="col"><h2>@InfoJogadorPrinc.Deaths</h2></div>
                        <div class="col"><h2>@InfoJogadorPrinc.Assists</h2></div>
                </div>
            </div>
        </div>
        <hr />
                        }
}